@font-face {
    font-family: 'PotatoFont';
    /*a name to be used later*/
    src: url('../fonts/Potato\ Chips.ttf');
    /*URL to font*/
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    button{
        height: 50px;
        width: 200px;
    }
}


#contained-modal-title-vcenter{
    font-family: Kanit;
    font-size: 40px;
    width: 100%;
    text-align: center;
}


.ChefContainer .modal-content{
    font-family: Kanit;
    color: white;
    border-radius: 30px;
    background: #293133;
  }

.LocationContainer .modal-content{
    color: white;
    border-radius: 30px;
    background: #293133;
    transform: scale(1.4);
  }


  .ModalButtons{
      transform: scale(1.5);
  }
.LocationBody{
    font-family: Kanit;
    display: flex;
    overflow: visible;
    justify-content: space-between;
    img{

        width: 100%;
    }
    div{
        .Pic{
            object-fit: contain;
            height: 20px;
            width: 10%;
            z-index: 200;
            border-radius: 10px;
        }
        .oneP{
            position: fixed;
            left: 300px;
            top: 200px;
        }
        .twoP{
            position: fixed;
            left: 50px;
            top: 150px
        }
        .threeP{
            position: fixed;
            left: 140px;
            top: 300px
        }
        .fourP{
            position: fixed;
            left: 250px;
            top: 160px
        }
        .fiveP{
            position: fixed;
            left: 170px;
            top: 200px
        }
        .sixP{
            position: fixed;
            left: 320px;
            top: 300px
        }


    }
    
}

.locationTable{

    width: 100%;
    tr{
        white-space: nowrap;
        width: 500px;
    }
    tr:nth-child(2n){
        background: rgba($color: #ffffff, $alpha: 0.1);
    }
    th{
            
        width: 200%;
        padding-bottom: 30px;
        text-align: center;
    }
}



.chefBody{

    display:flex;
    img{
        object-fit: cover;
        width: 50%;
        border-radius: 5%;
        margin:20px;
        box-shadow: 5px 5px 15px 5px #000000;
        height: 100%;
    }
    p{
        padding: 20px;
    }
}
.chefButton{
    background: white;
}